.search-row.event-search.simple-search {
  grid-template-columns: 1.2fr 1fr 1fr .9fr;
}

@media (max-width: 900px) {
  .search-row.event-search.simple-search {
    grid-template-columns: repeat(2, minmax(0,1fr));
  }
}

@media (max-width: 520px) {
  .search-row.event-search.simple-search {
    grid-template-columns: 1fr;
  }
}
